@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

.instructors-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    height: calc(100vh - 5rem);
    width: calc(100vw - 6rem);
    margin-left: 6rem;
    padding: 1rem;
    font-family: 'Poppins' , serif;
}

h2{
    font-size: 1.7rem;
    font-weight: 500;
    color: rgb(97, 96, 96);
    align-self: center;
}

.instructor-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.8rem;
    width: 30%;
    height: fit-content;
    padding: 1rem;
    background-color: rgb(233, 233, 233);
    border-radius: 0.5rem;
}

.instructor-form div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 19rem;
}

.instructor-form div label{
    font-size: 0.8rem;
    width: 100%;
}

.instructor-form input{
    width: 15rem;
    height: 2rem;
    padding: 1rem;
    border-radius: 0.3rem;
    border: 0.1rem solid rgb(156, 156, 156);
}

.instructor-form select{
    width: 6rem;
    height: 2rem;
    border-radius: 0.3rem;
    border: 0.1rem solid rgb(156, 156, 156);
}

#text-area{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
}

#text-area textarea{
    width: 100%;
    height: 5rem;
    padding: 0.7rem;
    border-radius: 0.5rem;
    resize: none;
}

#text-area textarea::placeholder{
    font-size: 0.7rem;
    text-align: center;
    font-style: italic;
}

.instructor-form button{
    height: 2.5rem;
    color: white;
    background-color: rgb(98, 98, 194);
    border: none;
    border-radius: 0.5rem;
}

.instructor-form button:hover{
    background-color: rgb(117, 117, 228);

}

.upper-table{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.table-wrapper{
    height: 90%;
    overflow-y: auto;
}

.instructors-table {
    width: 100%;
    table-layout: fixed; /* Fixed table layout */
}

.instructors-table th,
.instructors-table td {
    padding: 0.5rem 1rem;
    text-align: center;
    border: 0.1rem solid rgb(201, 200, 200);
    border-collapse: collapse;
    min-width: 150px;
    word-wrap: break-word; /* Ensure content wraps to a new line */
}

.instructors-table th:nth-child(1),
.instructors-table th:nth-child(5) {
    width: 3rem; /* Fixed width for small cells */
}


.instructors-table th {
    background-color: rgb(216, 216, 216);
}

.btns {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
    width: 100%;
    padding: 0.5rem;
}

#search{
    height: 2.5rem;
    width: 20rem;
    padding-left: 2.5rem;
    border: 0.02rem solid rgb(148, 148, 148);
    border-radius: 1.5rem;
}

#search::placeholder{
    color: rgb(148, 148, 148);
}

.search-icon{
    position: absolute;
    margin-left: 1rem;
    font-size: 1rem;
    color: rgb(148, 148, 148);
    cursor: pointer;;
}

#select-all-btn {
    font-weight: 600;
    height: 2rem;
    padding: 0.5rem;
    color: rgb(252, 129, 85);
    background-color: transparent;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

#delete-btn {
    font-weight: 600;
    height: 2rem;
    padding: 0.5rem;
    color: white;
    background-color: #f13c3c;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

#update-btn{
    font-size: 1rem;
    background-color: transparent;
    border: none;
    color: orange;
    cursor: pointer;;
}

#update-btn:hover{
    color: rgb(253, 194, 85);
}

#select-all-btn:hover {
    color: rgb(248, 172, 145);
}

#delete-btn:hover {
    background-color: #e76f6f;
}