@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

.scheduling-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Poppins', serif;
    height: calc(100vh - 5rem);
    width: calc(100vw - 6rem);
    margin-left: 6rem;
    padding: 0.3rem;
    background-color: var(--background-color);
}
  
  .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
  }

  .controls div{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    color: var(--text-color);
  }

  .controls div label{
    font-size: 1.3rem;
  }
  
  .section-dropdown {
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  .group-dropdown {
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  
  .add-item-btn,
  .edit-item-btn,
  .delete-item-btn {
    padding: 0.7rem 1rem;
    border-radius:0.5rem; 
    border: none;
    cursor: pointer;
  }
  
  .add-item-btn {
    background-color: #d4edda;
    color: #155724;
  }
  
  .edit-item-btn {
    background-color: #cce5ff;
    color: #004085;
  }
  
  .delete-item-btn {
    background-color: #f8d7da;
    color: #721c24;
  }

  .timetable{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .timetable table {
    border-collapse: collapse;
    width: 90%;
    height: 90%;
    table-layout: fixed;
  }
    
  .timetable th,
  .timetable td   {
    border: 1px solid #a5a5a5;
    text-align: center;
  }
  
  .timetable th {
    font-weight: 500;
    padding: 0.2rem;
    color: var(--text-color);
    background-color: var(--background-color);
  }

  .timetable td{
    padding: 0.1rem 0.3rem;
  }

  .time{
    font-size: 0.85rem;
    color: var(--text-color);
  }

  .instructor-name{
    font-size: 0.9rem;
    font-weight: 600;
  }

  .section-name{
    font-size: 0.8rem;
    font-weight: 500;
  }

  .subject-name{
    font-size: 0.75rem;
  }

  .room-name{
    font-size: 0.65rem;
    font-style: italic;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 0 1.5rem;
  }

  .discard-changes-btn,
  .apply-changes-btn {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }



  /* Add Modal styling */
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', serif;
  animation: slide-up 0.5s ease-in-out forwards;
}

@keyframes slide-up {
  0%{
    top:50rem;
  }
  100%{
    top: 0;
    background: rgba(0, 0, 0, 0.5);
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  height: 98%;
  width: 98%;
  padding: 0.5rem;
  background-color: var(--modal-color);
  overflow: hidden;
}

.upper{
  position: absolute;
  display: flex;
  align-self: flex-end;
}

.close-btn {
  position: absolute;
  background: none;
  border: none;
  margin-top: 0.4rem;
  right: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--text-color);
}


.schedule-form {
  display: flex;
  align-items: center;
  height: 50%;
  gap: 2rem;
  padding: 0.5rem;
}

.recommendation{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  height: 100%;
  flex: 0.9;
  border-radius: 0.5rem;
  background-color: white;
  border: 0.2rem solid rgb(235, 235, 235);
  overflow: auto;
}

.recommendation::-webkit-scrollbar{
  width: 0.5rem; /* Set the width of the scrollbar */
  background-color: rgb(226, 226, 226);
}

.recommendation::-webkit-scrollbar-thumb {
  background-color: #f5b133; /* Set the background color of the scrollbar thumb */
  border-radius: 2rem; /* Set the border radius of the scrollbar thumb */
}

.lightbulb{
  color: orange;
  margin-right: 1rem;
}

.recommendation span{
  font-size: 1.2rem;
  margin-left: 1rem;
  font-weight: 600;
  color: orange;
}

.recommendation p{
  font-size: 0.9rem;
  text-align: center;
  font-style: italic;
  padding: 1rem;
}

.recommendation div{
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  color: white;
  background-color: rgb(255, 169, 99);
  cursor: pointer;
  opacity: 0;
  animation: fade-in 0.2s ease-in forwards;
}

@keyframes fade-in{
  100%{
    opacity: 1;
  }
}

#day{
  font-size: 0.9rem;
  font-weight: 500;
  margin-left: 2rem;
  margin-right: 0.8rem;
  color: white
}

#time{
  font-size: 0.9rem;
  font-weight: 500;
  color: white
}

.recommendation div:hover{
  background-color: rgb(252, 136, 41);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 2;
  height: 100%;
  gap: 0.5rem;
}

.form-content{
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.form-content div:nth-child(1){
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  gap: 2rem;
}
  
.form-content div:nth-child(1) label{
  font-size: 0.9rem;
  color: var(--text-color);
}

.form-content div:nth-child(1) input{
  padding: 0.2rem 1rem;
  width: 70%;
}

.form-content div:nth-child(1) input:focus{
  outline: 0.12rem solid rgb(6, 128, 16);
}

.form-content div:nth-child(1) select{
  padding: 0.2rem 1rem;
}

.form-content div:nth-child(2){
  display: flex;
  flex: 1;
  align-items: center;
}


.days-checkboxes{
  display: flex;
  justify-content: space-evenly;
}

.days-checkboxes label{
  display: flex;
  gap: 0.2rem;
}

.warning-icon{
  color: orange;
  font-size: 1rem;
  margin-right: 0.7rem;
}

.error-message{
  font-size: 0.85rem;
  padding: 0.3rem 1rem;
  color: black;
  background-color: rgb(255, 255, 255);
  border-radius: 0.3rem;
  border: 0.1rem solid orange;
}

.error-border {
  outline: 1px solid red;
  border: none;
  border-radius: 0.3rem;
}

.add-sched{
  padding: 0.5rem;
  font-size: 0.8rem;
  text-transform:uppercase;
  width: 48.5%;
  color: white;
  background-color: rgb(72, 187, 72);
  border: none;
  border-radius: 0.3rem;
}

.add-sched:hover{
  background-color: rgb(54, 163, 54);
  cursor: pointer;
}

.lists {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}

.list-container {
  width: 28%;
}

.instructor-icon{
  color: var(--text-color);
  font-size: 0.9rem;
  margin-right: 0.5rem;
}

.subject-icon{
  color: var(--text-color);
  font-size: 0.9rem;
  margin-right: 0.5rem;
}

.room-icon{
  color: var(--text-color);
  font-size: 0.9rem;
  margin-right: 0.5rem;
}

.list-headings{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.list-headings h4 {
  color: var(--text-color);
}

.list-headings select{
  padding: 0.3rem;
  border-radius: 0.4rem;
}

.search-bar-icon{
  position: absolute;
  font-size: 0.7rem;
  color: gray;
  margin-top: 0.5rem;
  margin-left: 0.8rem;
}

.search-bar{
  padding: 0.3rem 2rem;
  margin-bottom: 0.5rem;
  border-radius: 0.6rem;
  border: 0.1rem solid rgb(133, 133, 133);
}

/* List item styling */
.list-container ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  height: 13rem;
}

.list-container ul li {
  background: #ffffff;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 3px gray;
  cursor: pointer;
}

.list-container ul li:hover{
  background: #f8f8f8;
}

/* Pagination styling */
.list-container .pagination {
  display: flex;
  flex-direction: row;
  justify-content: end;
  list-style: none;
  padding-right: 1rem;
  height: 100%;
}

.list-container .pagination li {
  cursor: pointer;
  background: none;
  box-shadow: none;
  padding: none;
  height: 0%;
  width: 0%;
}

.list-container .pagination li a {
  font-size: 0.7rem;
  padding: 0.3rem 0.5rem;
  color: var(--text-color);
  text-decoration: none;
  border: 0.1rem solid #bebebe;
  border-radius: 0.5rem;
  background: none;
  box-shadow: none;
}

.list-container .pagination li a:hover {
  background-color: white;
  color: black;
  border: 0.1rem solid rgb(54, 54, 54);
}

.list-container .pagination .active-page a {
  background-color: #007bff;
  color: white;
  border: none;
}

.list-container .pagination .previous-icon,
.list-container .pagination .next-icon {
  font-size: 0.6rem;
}

.list-container .pagination li:hover {
  background: none;
  box-shadow: none;
}

 /* Delete Modal styling */

.delete-screen {
  font-family: 'Poppins', serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.delete-container {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 8px;
  width: 55%;
  max-height: 28rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.delete{
  position: absolute;
  font-weight: 600;
  color: rgb(250, 47, 47);
  padding: 0.4rem 1rem;
  left: 3rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.delete:hover{
  background-color: rgb(219, 219, 219);
}

.delete-header {
  background: #f44336;
  padding: 0.5rem;
  text-align: center;
  position: sticky;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  top: 0;
}

.delete-header span {
  font-size: 0.9rem;
  color: white;
}

.checkAll{
  position: absolute;
  left: 1rem;
  top: 0.85rem;
}

.delete-close-btn {
  position: absolute;
  right: 1rem;
  top: 0.7rem;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.delete-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  overflow: auto;
}

.delete-body::-webkit-scrollbar {
  width: 0.4rem;
  background-color: rgb(209, 209, 209);
  border-radius: 0.5rem;
}

.delete-body::-webkit-scrollbar-thumb {
  width: 0.6rem;
  background-color: rgb(165, 165, 165);
  border-radius: 0.5rem;
}

.schedule-item{
  position: relative;
  display: flex;
  justify-content: space-between;
  border-radius: 0.4rem;
  padding: 0.8rem 0.6rem;
  box-shadow: 2px 2px 5px rgb(100, 100, 100);
}

.schedule-item input{
  position: absolute;
  top: 1.5rem;
  left: 0.8rem;
  height: 1rem;
  width: 1rem;
  cursor: pointer;
} 
.delete-details-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2rem;
}

.delete-details-left span:nth-child(1){
  font-size: 0.85rem;
  font-weight: 600;
  color: black;
}

.delete-details-left span:nth-child(2){
  font-size: 0.75rem;
  color: black;
}

.delete-details-right{
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.delete-details-right span:nth-child(1){
  font-size: 0.6rem;
  color: rgb(63, 63, 63);
}

.delete-details-right span:nth-child(2){
  font-size: 0.8rem;
  color: black;
}

.delete-details-right span:nth-child(3){
  font-size: 0.67rem;
  opacity: 0.8;
  color: black;
}


/* Update Modal styling */

.update-screen {
  font-family: 'Poppins', serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.update-container {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 8px;
  width: 50%;
  max-height: 28rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.update-header {
  background: #fa921c;
  padding: 0.5rem;
  text-align: center;
  position: sticky;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  top: 0;
}

.update-header span {
  color: white;
  font-size: 0.9rem;
}

.update-close-btn {
  position: absolute;
  right: 1rem;
  top: 0.7rem;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.update-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.6rem;
  overflow: auto;
}

.update-body::-webkit-scrollbar {
  width: 0.4rem;
  background-color: rgb(209, 209, 209);
  border-radius: 0.5rem;
}

.update-body::-webkit-scrollbar-thumb {
  width: 0.6rem;
  background-color: rgb(165, 165, 165);
  border-radius: 0.5rem;
}

.schedule-item:hover{
  transform: scale(1.01);
}

.update-details-left{
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.update-details-left span:nth-child(1){
  font-size: 0.87rem;
  font-weight: 500;
  color: black;
}

.update-details-left span:nth-child(2){
  font-size: 0.75rem;
  font-weight: 400;
  font-style: italic;
  color: black;
}

.update-details-right{
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-right: 1rem;
}

.update-details-right span:nth-child(1){
  font-size: 0.65rem;
  color: rgb(63, 63, 63);
}

.update-details-right span:nth-child(2){
  font-size: 0.7rem;
  font-weight: 600;
  color: rgb(63, 63, 63);
}

.update-details-right span:nth-child(3){
  font-size: 0.67rem;
  opacity: 0.8;
  color: black;
}