@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 100%;
    padding: 2rem;
    font-family: 'Poppins', serif;
    border-bottom: 0.1rem solid gray;
    background-color: var(--background-color);
}

.navbar span{
    font-size: 2rem;
    font-weight: 400;
    padding-left: 1.5rem;
    margin-left: 5rem;
    color: var(--text-color);
}

.navigation{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.navigation a{
    font-size: 1.25vw;
    text-decoration: none;
    color: var(--text-color);
}

.navigation a:hover{
    color: rgb(177, 177, 177);
}

.navigation a.active{
    color: var(--active);
    border-bottom: 0.2rem solid var(--active);
    background-color: var(--background-color);
}

.navigation a.active:hover{
    color: rgb(177, 177, 177);
}

.navigation-small-screen{
    display: none;
}

@media screen and (max-width: 700px) {
    .navbar{
        height: 4rem;
    }

    .navbar span{
        margin-left: 0;
    }

    .navigation{
        display: none;
    }

    .navigation-small-screen{
        display: block;
    }
    
    .navigation-small-screen select{
        font-size: 0.85rem;
        border-radius: 0.5rem;
        padding: 0.5rem;
    }
}