@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 100%;
    padding: 2rem;
    font-family: 'Poppins', serif;
    border-bottom: 0.1rem solid gray;
    background-color: var(--background-color);
}

.navbar span{
    font-size: 2rem;
    font-weight: 400;
    padding-left: 1.5rem;
    margin-left: 5rem;
    color: var(--text-color);
}

.navigation{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.navigation a{
    font-size: 1rem;
    text-decoration: none;
    color: black;
    color: var(--text-color);
}

.navigation a.active{
    color: var(--active);
    border-bottom: 0.2rem solid var(--active);
    background-color: var(--background-color);
}

@media screen and (max-width: 600px) {
    .navbar{
        height: 4rem;
    }

    .navbar span{
        margin-left: 0;
    }

    .navigation{
        display: none;
    }
}