@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

.scheduling-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Poppins', serif;
    height: calc(100vh - 5rem);
    width: calc(100vw - 6rem);
    margin-left: 6rem;
    padding: 0.3rem;
}
  
  .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
  }

  .controls div{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.2rem 2rem;
  }

  .controls div label{
    font-size: 1.3rem;
  }
  
  .section-dropdown {
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  .group-dropdown {
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  
  .add-item-btn,
  .edit-item-btn,
  .delete-item-btn {
    padding: 0.7rem 1rem;
    border-radius:0.5rem; 
    border: none;
    cursor: pointer;
  }
  
  .add-item-btn {
    background-color: #d4edda;
    color: #155724;
  }
  
  .edit-item-btn {
    background-color: #cce5ff;
    color: #004085;
  }
  
  .delete-item-btn {
    background-color: #f8d7da;
    color: #721c24;
  }

  .timetable{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fixed;
  }
  
  .timetable table {
    border-collapse: collapse;
    width: 90%;
    height: 90%;
    table-layout: fixed;
  }
    
  .timetable th,
  .timetable td   {
    border: 1px solid #dee2e6;
    text-align: center;
  }
  
  .timetable th {
    font-weight: 500;
    padding: 0.2rem;
    color: rgb(49, 49, 49);
    background-color: #f0f0f0;
  }

  .timetable td{
    padding: 0.1rem 0.3rem;
  }

  .instructor-name{
    font-size: 1rem;
  }

  .subject-name{
    font-size: 0.8rem;
  }

  .room-name{
    font-size: 0.8rem;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 0 1.5rem;
  }

  .discard-changes-btn,
  .apply-changes-btn {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }
    
  .discard-changes-btn {
    background-color: #f8d7da;
    color: #721c24;
  }
    
  .apply-changes-btn {
    background-color: #d4edda;
    color: #155724;
  }



  /* Modal styling */
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', serif;
  animation: slide-up 0.5s ease-in-out forwards;
}

@keyframes slide-up {
  0%{
    top:50rem;
  }
  100%{
    top: 0;
    background: rgba(0, 0, 0, 0.5);
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 0.5rem;
  height: 98%;
  width: 98%;
}

.upper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}


.schedule-form {
  display: flex;
  justify-content: space-around;
  height: 50%;
  gap: 0.5rem;
}

.recommendation{
  flex: 1;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  gap: 0.5rem;
}

.left div{
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.left div input{
  padding: 0 1rem;
  width: 50%;
}

.days-checkboxes{
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.days-checkboxes label{
  display: flex;
  width: 100%;
  gap: 0.3rem;
}

.error-border {
  border: 1px solid red;
}

.right{ 
  flex: 1;
}



.lists {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
}

.list-container {
  width: 30%;
}

.list-container h3 {
  margin-bottom: 5px;
}

.list-container ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  height: 14rem;
}

.list-container ul li {
  background: #f1f1f1;
  font-size: 0.85rem;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.list-container ul li:hover{
  background: #e6e6e6;
}
      
.list-container .pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 500;
  gap: 0.4rem;
  height: 3rem;
  cursor: pointer;
}

.list-container .active-page{
  color: white;
  background-color: blue;
  transition: all 0.5s ease-out;
}
      