.settings-container{
    height: 100vh;
    width: calc(100vw - 6rem);
    margin-left: 6rem;
    background-color: var(--background-color);
    font-family: 'Poppins', serif;
}

.setting-header{
  display: flex;
  align-items: center;
  padding-left: 2rem;
  font-size: 2rem;
  font-weight: 400;
  height: 5rem;
  border-bottom: 0.1rem solid gray;
  color: var(--text-color);
}

.setting-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: calc(100% - 5rem);
}

.settings-card, .user-preference-card {
    background: #f0f0f0;
    border-radius: 0.8rem;
    padding: 2rem;
    width: 20rem;
    height: 22rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
  }
  
  .settings-card h3, .user-preference-card h3 {
    text-align: center;
    background: #c0d7e8;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
    margin: -2rem -2rem 1.5rem -2rem;
  }
  
  .settings-card label, .user-preference-card h4 {
    display: block;
    margin: 1rem 0;
  }

  .user-preference-card h4{
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(77, 77, 77);
  }
  
  .settings-card input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .btn {
    display: block;
    font-weight: 500;
    letter-spacing: 1px;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: white;
  }
  
  .btn-success {
    background-color: #28a745;
    color: white;
  }

   
  .btn-success:hover {
    background-color: #228639;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    color: white;
  }
  
  .color-options {
    display: flex;
    justify-content: space-around;
    margin: 1.5rem 0;
  }
  
  .color-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }

  .color-circle:hover{
    transform: scale(1.1);
  }
  
  .color-circle.white { background-color: white; }
  .color-circle.black { background-color: #686868; }
  .color-circle.red { background-color: rgb(202, 102, 102) }
  .color-circle.green { background-color: rgb(85, 129, 85)}