@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

.sidebar{
    position: absolute  ;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    height: 100vh;
    width: 6rem;
    background-color: #343B46;
}

.center-navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -5rem;
    width: 100%;
}

.bottom-navigation{
    margin-bottom: 2rem;
}

.center-navigation a,
.bottom-navigation button ,
.bottom-navigation div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', serif;
    font-size: 1rem;
    text-decoration: none;
    height: 4rem;
    width: 6rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.side-icon{
    height: 1.3rem;
    width: 1.3rem;
    margin-top: -0.1rem;
    margin-left: -0.1rem;
    color: white;
}

.side-icon:hover{
    cursor: pointer;
    color: rgb(204, 204, 204); 
}

.center-navigation a:hover,
.bottom-navigation button:hover{
    background-color: #2c323b;
}

.center-navigation a:not(.active) .side-icon{
    color: white;
}

.center-navigation a:not(.active) .side-icon:hover{
    color: rgb(204, 204, 204);
}

.center-navigation a:is(.active) .side-icon{
    color: #282d36;
}
    
.center-navigation a:is(.active):hover .side-icon{
    color: white;
}

.active{
    background-color: white;
}

.logout{
    transform: rotateY(180deg);
    background-color: transparent;
    border: none;
}

.profile{
    background-color: transparent;
    border: none;
}


.profile div{
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 0.4rem;
    border: 0.15rem solid white;
}

.initial{
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}