@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*{
    font-style: 'Poppins', serif;
}

:root {
    --background-dark: #686868;
    --background-lightgrey: white;
  }
  
body.theme-dark {
--background-color: var(--background-dark);
--text-color: white;
--active: white;
}

body.theme-light {
--background-color: var(--background-lightgrey);
--text-color: black;
--active: blue;
}